* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  outline: none;
  transition: 0.2s;
  font-family: "Caudex", serif;
}

:root {
  --primary-color: #1b8e79;
  --green: green;
  --white: #ffffff;
  --black: black;
  --gray: rgb(0, 0, 0, 0.5);
  --red: red;
  --blue: #507dd2;
  --thead: #ddf7fa;
  --td: #f4fcfd;
  --brown: brown;
  --gold: gold;
}
i {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0em;
  color: #565656;
}
p,
td,
li,
a {
  color: #848383;
}
a,
a > i {
  text-decoration: none;
}

ul {
  list-style: none;
}
ul li {
  margin-left: 0em;
}
.flex-all-prop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background-color: #507dd2;
  border: 2px solid #507dd2;
  color: white;
  padding: 7px 25px;
}
.btn:hover {
  background-color: white;
  color: black;
}

/* color */
.bg-f5f5f5 {
  background-color: #f5f5f5;
}
.bg-primary {
  background-color: var(--primary-color);
}
.bg-green {
  background-color: var(--green);
}
.bg-white {
  background-color: var(--white);
}
.bg-black {
  background-color: var(--black);
}
.bg-gray {
  background-color: var(--gray);
}
.bg-red {
  background-color: var(--red);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-brown {
  background-color: var(--brown);
}

.text-primary {
  color: var(--primary-color);
}
.text-green {
  color: var(--green);
}
.text-white {
  color: var(--white);
}
.text-black {
  color: var(--black);
}
.text-gray {
  color: var(--gray);
}
.text-red {
  color: var(--red);
}
.text-blue {
  color: var(--blue);
}
.text-brown {
  color: var(--brown);
}
.text-gold {
  color: gold;
}

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
.f-wrap {
  flex-wrap: wrap;
}
.fs-22 {
  font-size: 22px;
}
body {
  background-color: var(--white);
}
.text-justify {
  text-align: justify;
}
ul {
  padding-left: 0rem;
}
.nowrap {
  white-space: nowrap;
}

.position-absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* -----------home page-------------------- */

/* ------------Navbar--------------------- */
nav {
  height: 90px;
  background-color: white;
  box-shadow: 0 5px 4px rgba(39, 39, 39, 0.2);
  z-index: 9999;
}
.navbar {
  margin-bottom: 0px !important;
}
nav .logo-img {
  max-width: 170px;
  height: 80px;
}
nav .logo-img img {
  height: 100%;
}
nav li.nav-item {
  margin: 0 0px 0 10px;
}
.sub-nav {
  display: none;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.about-nav:hover .sub-nav {
  display: block !important;
}
.sub-nav ul li a:hover {
  color: #507dd2;
}
nav li .nav-link {
  padding: 12px 0px 12px 10px;
  text-transform: uppercase;
  line-height: 14px;
  outline: 0;
  background: 0 0;
  color: #272727;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  border-radius: 5px;
}
nav li.nav-item.active a {
  color: #507dd2;
}
nav li.nav-item a:hover {
  color: #507dd2;
}
nav li.nav-item {
  position: relative;
}
nav li.nav-item.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #507dd2;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  animation: ani1 0.5s ease-in-out;
}
@keyframes ani1 {
  from {
    width: 10%;
  }
  to {
    width: 100%;
  }
}
nav .social-header {
  margin: 0px 10px;
  width: 20px;
  height: 20px;
}
@media (max-width: 992px) {
  nav .logo-img {
    max-width: 170px;
    height: 70px;
  }
  .nav-togle-btn {
    flex-direction: row-reverse;
  }
}
nav .navbar-toggler {
  padding: 7px;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 0px white;
}
nav .navbar-toggler:is(:focus, :active, :hover) {
  border: none;
  box-shadow: 0 0 0 0rem;
}

nav .navbar-toggler img {
  height: 30px;
  width: 30px;
}

.book-now-btn .btn {
  background-color: #507dd2;
  border: 2px solid #507dd2;
  color: white;
  font-weight: 900;
  padding: 7px 20px;
  /* border-radius: 5px; */
}
.book-now-btn .btn:hover {
  background-color: white;
  color: black;
  font-weight: 900;
  transition: 300ms;
}

/* nav-end */
.home-line {
  padding: 10px 0px;
  /* height: 40px; */
  /* vertical-align: middle; */
  background-color: #507dd2;
}

.home-line p a {
  color: white;
}
.home-line i {
  font-size: 20px;
  color: white;
  padding: 0px 10px;
}
/* -----------section 1------------ */

.section-one {
  width: 100%;
  height: calc(100vh - 136px);
  position: relative;
}
.section-one #myVideo {
  width: 100%;
  height: calc(100vh - 136px);
  /* transform: rotate(-90deg);
  object-fit: contain; */
  object-fit: cover;
}
.section-one .carousel-img {
  height: calc(100vh - 136px);
}
.section-one .carousel-img img {
  object-fit: cover;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #f4f2f2;
  border-radius: 50%;
  border: 2px solid black;
}
.carousel-control-next-icon {
  background-image: url("/assets/icon/right.png");
}
.carousel-control-prev-icon {
  background-image: url("/assets/icon/left.png");
}

/* ------------section 2--------------- */

.address {
  background-color: #507dd2;
  color: white;
}
.address ul {
  margin-bottom: 0rem;
}
.address a {
  color: white;
}
h1 {
  color: rgb(82, 80, 80);
}
.heading {
  width: fit-content;
  /* text-align: center; */
  margin: auto;
}
.heading::after {
  content: "";
  position: absolute;
  margin: auto;
  left: 0%;
  right: 0%;
  bottom: 40px;
  /* height: 2px; */
  width: 80%;
  border-bottom: 1px solid rgb(219, 217, 217);
  /* background-color: #a5a3a3; */
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-icon {
  height: 150px;
  width: 150px;
  box-shadow: 3px 3px 17px rgba(51, 51, 51, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Service .service-icon img {
  height: 150px;
  width: 150px;
  transition: 0.2s;
  padding: 30px;
  color: black;
}
.Service p {
  margin-top: 24px;
}
.sicon2 {
  display: none;
}

.Service .service-icon:hover {
  transform: scale(1.2);
}
.Service .service-icon:hover .sicon2 {
  display: block;
}
.Service .service-icon:hover .sicon1 {
  display: none;
}
.Service .card {
  border: none;
}
.column {
  display: none;
}

.show {
  display: block;
}

#myBtnContainer button {
  color: black;
  margin: 0px 16px;
  background-color: white;
  border-bottom: 2px solid rgb(243, 246, 243);
  border: none;
  outline: none;
  font-size: 22px;
}
#myBtnContainer button:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #507dd2;
  color: #507dd2;
}
#myBtnContainer button.active1 {
  border: none;
  outline: none;
  border-bottom: 2px solid #507dd2;
  color: #507dd2;
}

.rate .content {
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 3px 3px 17px rgba(51, 51, 51, 0.3);
}

.rate .imgcont {
  height: 300px;
  width: 100%;
  /* overflow: hidden; */
}
.rate .imgcont img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  height: 100%;
  width: 100%;
}

.rate .content:hover {
  transform: translateY(-20px);
}
.rate .pricebtn {
  position: absolute;
  /* top: 0%; */
  bottom: -20px;
  left: 0%;
  right: 0%;
  margin: auto;
  background-color: #507dd2;
  color: white;
  padding: 7px 25px;
  width: fit-content;
  border: none;
  outline: none;
  border-radius: 20px;
  z-index: 2;
}
.rate h5 {
  margin-top: 20px;
}

.about h5 {
  padding: 16px 0px;
}

.about .seemore-btn {
  background-color: #507dd2;
  border: 2px solid #507dd2;
  color: white;
  border-radius: 6px;
  padding: 7px 30px;
}
.about .seemore-btn:hover {
  background-color: white;
  border: 2px solid #507dd2;
  color: #181b2c;
}
.about .btn {
  color: white;
  background-color: #507dd2;
  text-decoration: none;
  padding: 7px 20px;
  margin: 16px 0px;
  border: 2px solid #507dd2;
}
.about .btn:hover {
  background-color: white;
  color: black;
  border: 2px solid #507dd2;
}
.about p {
  text-align: justify;
  padding: 0px 45px;
  color: rgb(39, 39, 39, 0.8);
}
.main-logo {
  height: 200px;
  width: 300px;
}

#owl-demo .item {
  padding: 30px 30px;
  margin: 10px;
  font-size: 24px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.Testimonial .testi-icon i {
  color: gold;
  font-size: 20px;
  margin: 0px 8px;
}
.Testimonial .test-cont {
  display: table;
}
.Testimonial .item h6 {
  color: black;
  font-size: 24px;
}

.Testimonial .quotes-logo {
  width: 50px;
  height: 50px;
}
.gallery div {
  display: inline-block;
  object-fit: cover;
  /* border-radius: 15px; */
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  object-fit: contain;
}

.gallery img {
  width: 100%;
  height: 100%;
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
.item7 {
  grid-area: item7;
}
.item8 {
  grid-area: item8;
}
.gallery .grid-wrap {
  display: grid;
  grid-template-areas:
    "item1 item2 item2 item3 item3"
    "item4 item2 item2 item6 item6"
    "item7 item7 item5 item6 item6";
  gap: 10px;
}

@media (max-width: 767px) {
  .gallery .grid-wrap {
    grid-template-areas:
      "item1 item2 item3 item3"
      "item4 item2 item2 item6"
      "item4 item7 item5 item6";
  }
}
@media (max-width: 576px) {
  .gallery .grid-wrap {
    grid-template-areas:
      "item1 item2 item2"
      "item3 item2 item2"
      "item7 item7 item5"
      "item4 item6 item6";
  }
}

.gallery img:hover {
  transform: scale(1.2);
}

.contact .contact-info .logo-cont {
  width: 50px;
  height: 50px;
}
.contact .map {
  max-width: 100%;
}
.contact .focus {
  font-size: 36px;
}
.contact p {
  font-size: 12px;
}

/* contact -form  */
.contact-form .contact-box {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #2e2e2e;
}
.contact-form .icon i {
  font-size: 40px;
  margin-right: 16px;
  color: #507dd2;
}
.contact-form .input-group {
  background-color: #f8f8f8;
  display: flex;
  padding: 20px;
  align-items: stretch;
}
.contact-form .input-group input {
  height: 30px;
  background-color: #f8f8f8;
  width: 100%;
  border: none;
  color: #777777;
  font-size: 16px;
}
.contact-form .main-btn {
  color: white;
  background-color: #507dd2;
  text-decoration: none;
  padding: 7px 20px;
  border: 2px solid #507dd2;
}
.contact-form .main-btn:hover {
  background-color: white;
  color: #181b2c;
}
.contact-form .input-group .icon {
  display: flex;
  align-items: center;
}
.contact-form .input-group .icon i {
  font-size: 16px;
}
.contact-form .input-group textarea {
  height: 250px;
  border: none;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #777777;
}

/* footer  */
footer {
  background-image: url(../assets/images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}
footer h5 {
  padding-bottom: 10px;
  color: white;
  margin-bottom: 10px;
}
footer p {
  color: white;
  opacity: 0.9;
  /* line-height: 30px; */
  margin-bottom: 0;
}

.social-logo-img {
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}
.social-logo-img:hover {
  width: 30px;
  height: 30px;
}

footer .footer-logo-img {
  width: 300px;
  height: 150px;
}

/* About page  */
.about-home {
  width: 100%;
  /* height: calc(100vh - 95px); */
}
.about-home .img-container {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .about-home .img-container {
    height: 100%;
  }
}
.about-home .img-container img {
  width: 100%;
  max-height: 100%;
}
.about-p p {
  line-height: 30px;
  font-size: 16px;
  /* color: gray; */
}
.facilities table {
  width: 100%;
  /* border: 1px solid black; */
}
.facilities .table-bordered {
  border: 1px solid black;
}
.facilities table td {
  padding: 10px 15px;
}
.about-hari {
  padding: 3px;
  box-shadow: 0 0 0 2px #886d00, inset 0 0 0 1px #886d00;
}
.about-hari img {
  width: 100%;
  height: 500px;
  border: 2px solid #796102;
}
.about-us-address ul li::marker {
  content: "👉";
}
.about-us-address ul li {
  padding: 7px 0px;
}
.about-hari-card .col-card {
  margin: 10px 0px;
}
.about-hari-card .card {
  border: none;
  padding: 20px;
  box-shadow: 3px 3px 17px rgba(51, 51, 51, 0.3);
  height: 100%;
  justify-content: flex-start;
}
.about-hari-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.about-hari-card h5 {
  padding: 10px 0px;
}

.about-hari-address ul li::marker {
  width: 10px;
  content: "👉";
  font-size: 20px;
  padding: 20px;
}
.about-hari-address ul li {
  font-weight: 900;
  padding: 5px 0px;
}

/* rooms */
.room-header {
  width: 100%;
  height: 100%;
}
.room-header h1 {
  color: white;
  font-size: 54px;
  text-align: center;
}

.view-room-details-btn,
.price-room-btn {
  background-color: #507dd2;
  color: white;
  padding: 5px 20px;
  border: 2px solid #507dd2;
}
.room-details .carousel img {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.other-room {
  border: 1px solid black;
  padding: 40px;
  width: fit-content;
}
.other-room h3 {
  color: #181b2c;
  padding-bottom: 2rem;
}
.other-room ul li {
  padding: 13px 0px;
}
.other-room .btn {
  width: 100%;
  padding: 10px;
  background-color: #507dd2;
  border: 2px solid #507dd2;
  color: white;
}
.other-room .btn:hover {
  background-color: white;
  color: #181b2c;
}
.room-notes ul li::marker {
  content: "👉";
}
.room-notes ul li {
  padding: 7px 0px;
}

/* travel guide */
.travel_guide_banner .carousel img {
  width: 100%;
  height: 620px;
  object-fit: cover;
}
.travel-guide-content p {
  line-height: 30px;
}

.tour_pakages img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: left;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.tour_pakages .travel-card {
  box-shadow: 0px 0px 15px rgb(128, 128, 128, 0.8);
  border-radius: 15px;
}
.tour_pakages .travel-card:hover {
  box-shadow: 0px 0px 15px gray;
}
.tour_pakages .travel-card .btn {
  background-color: #507dd2;
  padding: 7px 20px;
  color: white;
  border: 1px solid #507dd2;
}
.tour_pakages .travel-card .btn:hover {
  color: #181b2c;
  background-color: white;
}
/* travel-tstimonial */
.tarvel-testinomial {
  background-color: rgb(168, 168, 169);
}
.tarvel-testinomial h5 {
  color: black;
}
.tarvel-testinomial p {
  font-size: 16px;
}
.tarvel-testinomial .owl-stage {
  display: flex;
  align-items: center;
}
.tarvel-testinomial .item .content {
  border: 8px solid white;
  position: relative;
  max-height: 100%;
  /* height: 500px;
   */
  background-color: white;
  z-index: 0;
}
.tarvel-testinomial .owl-nav {
  display: flex;
  justify-content: space-between;
}
.tarvel-testinomial .owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50%;
}
.tarvel-testinomial .owl-prev span {
  border: 5px solid white !important;
  background-color: #507dd2;
  color: white;
  border-radius: 50%;
  font-size: 50px;
  padding: 0px 25px;
}
.tarvel-testinomial .owl-next {
  position: absolute;
  top: 50%;
  right: 0;
}
.tarvel-testinomial .owl-next span {
  border: 5px solid white !important;
  background-color: #507dd2;
  color: white;
  border-radius: 50%;
  font-size: 50px;
  padding: 0px 25px;
}
.tarvel-testinomial .item .content::before {
  position: absolute;
  height: 100%;
  width: 50%;
  content: "";
  background: white;
  top: 5px;
  left: 5px;
  z-index: -1;
  transform: rotate(-8deg);
}
.tarvel-testinomial .owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
  color: #fff;
  text-decoration: none;
}
.tarvel-testinomial .item .content::after {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background: white;
  top: -5px;
  right: 0;
  z-index: -1;
  transform: rotate(5deg);
}
.tarvel-testinomial .item .content img {
  width: 100%;
  height: 300px;
}
.tarvel-testinomial .item .content .btn {
  color: white;
  background-color: #507dd2;
  border: 2px solid #507dd2;
}
.tarvel-testinomial .item .content .btn:hover {
  background-color: white;
  color: #181b2c;
}

.activity .activity-card {
  background-repeat: no-repeat;
  background-image: url("../assets/images/travel guide/new-poly.png");
  height: 300px;
  border-radius: 20px;
  background-size: cover;
  box-shadow: 3px 3px 17px rgba(51, 51, 51, 0.3);
}
.activity .activity-card img {
  width: 100px;
  height: 100px;
}
.activity .activity-card h5 {
  padding: 10px 0px;
}
.day-out {
  background-color: ghostwhite;
  background-image: url("../assets/images/travel guide/dayout.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* z-index: 3; */
}
.day-out .dayout-card {
  height: 100px;
  box-shadow: 3px 3px 17px rgba(51, 51, 51, 0.3);
  /* overflow: hidden; */
  position: relative;
  width: 100%;
  z-index: 0;
}

.day-out .dayout-card::before {
  content: "";
  background: #b38925;
  height: 100%;
  width: 100%;
  bottom: -5px;
  right: -5px;
  position: absolute;
  z-index: -1;
}

.day-out .dayout-card .img {
  overflow: hidden;
}
.day-out .dayout-card .img img {
  object-fit: cover;
  width: 100px;
  transition: 400ms ease-in-out;
  height: 100px;
  /* object-position: center; */
}
.day-out .dayout-card:hover .day-out-img {
  transform: scale(2.9);
}
.destination .desti-car {
  height: 300px;
  position: relative;
  border: 3px solid #796102;
  border-radius: 20px;
  overflow: hidden;
}
.destination .desti-car img {
  object-fit: cover;
  height: 300px;
  width: 100%;
}
.destination .desti-car img:hover {
  opacity: 0.4;
  transform: translate3d(0, 0, -10px);
}
.destination .desti-car:hover {
  background: linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
}
.destination .desti-car:hover h5 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.destination .desti-car h5 {
  /* background-color: rgba(237, 238, 240, 0.7); */
  width: 100%;
  height: 10px;
  vertical-align: middle;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -100px;
  padding: 0px 16px;
}

/* Contact us */

.contact-us p {
  font-size: 18px;
  padding: 5px 0px;
  color: #181b2c;
}
.contact-us p i {
  font-size: 24px;
  margin-right: 16px;
  color: #507dd2;
}
.contact-us p a {
  color: #181b2c;
}
.contact-us input {
  width: 100%;
  border: 1px solid rgb(179, 176, 176);
  height: 46px;
  margin: 5px 0px;
  padding: 5px;
  color: #6f6f6f;
}
.contact-us textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  height: 130px;
  border: 1px solid rgb(179, 176, 176);
}

.contact-us :is(textarea, input):where(:hover, :focus) {
  border: 2px solid #507dd2;
}

.contact-us .btn {
  padding: 10px 30px;
  color: white;
  width: fit-content;
}
.contact-us .btn:hover {
  color: black;
}

.blogs .blogs-body {
  box-shadow: 3px 3px 17px rgba(51, 51, 51, 0.3);
}
/* Blog */
.blogs .blogs-body .blog-img {
  width: 100%;
}
.blogs .blogs-body .blog-p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blogs .blogs-body .btn {
  margin: 10px 0px;
}

.blog-detail .banner-img img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.blog-detail .blog-body p {
  line-height: 40px;
}
.blog-detail form {
  background-color: #f5f5f5;
  padding: 24px;
}
.blog-detail form input[type="text"] {
  height: 40px;
  border: 1px solid #d3d0d0;
  padding: 12px;
}
.blog-detail form textarea {
  height: 200px;
  border: 1px solid #d3d0d0;
  padding: 12px;
}
.blog-detail .blog-about-img img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  /* border: 2px solid #343333; */
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.blog-detail .social-logo-img {
  width: 30px;
  height: 30px;
}
.blog-details .email {
  word-wrap: break-word;
  white-space: pre-wrap;
}
